<!-- Generated template for the SearchResultsComponent component -->
<!-- 
<ion-item *ngIf="user">
  {{user | json}}
</ion-item> -->


<ion-item *ngIf="user">
    <!-- {{user | json}} -->
    <ion-avatar item-left>
      <img [src]="user.url" alt="">
    </ion-avatar>
    <h1> {{user.name}}</h1>
    <h1>{{user.email}}</h1>
  </ion-item>