<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{repository.name}}
    </ion-card-title>

  </ion-card-header>
  <ion-card-content>
    {{repository.description}}
  </ion-card-content>


</ion-card>