<!--
  Generated template for the ProfileSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Profile Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating> 
      Person Name
    </ion-label>
    <ion-input type="text" [(ngModel)]="personname"></ion-input>
  </ion-item>
{{personname}}
<ion-fab bottom right>
  <button ion-fab (click)="GitUserinformation()">
      <ion-icon name="search"></ion-icon>
  </button>
</ion-fab>
</ion-content>

